ConsoleApp1/Connected Services/ServiceReference1/MqService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.179/MQService/MqService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" />
  <xs:import schemaLocation="http://10.0.1.179/MQService/MqService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RegisterPARequestRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="PARequest" nillable="true" type="q1:PARequest" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="PARequestInfo" nillable="true" type="q2:PARequestInfo" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="PARequestPatient" nillable="true" type="q3:PARequestPatient" />
      <xs:element minOccurs="0" name="PASource" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="PreferredIntervals" nillable="true" type="q4:ArrayOfPARequestInterval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPARequestRequest" nillable="true" type="tns:RegisterPARequestRequest" />
  <xs:complexType name="CancelPARequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeactivationComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeactivationReason" type="xs:int" />
      <xs:element minOccurs="0" name="IdPar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkedIdPar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASource" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelPARequestRequest" nillable="true" type="tns:CancelPARequestRequest" />
  <xs:complexType name="SearchActivePARequestsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Claim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FerIdSpeciality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLpu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNsiLpu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPar" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IdPatients" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="IdSpeciality" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchActivePARequestsRequest" nillable="true" type="tns:SearchActivePARequestsRequest" />
  <xs:complexType name="SearchPARequestsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInfos" nillable="true" type="tns:ArrayOfIdInfo" />
      <xs:element minOccurs="0" name="IdPar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPARequestsRequest" nillable="true" type="tns:SearchPARequestsRequest" />
  <xs:complexType name="ArrayOfIdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdInfo" nillable="true" type="tns:IdInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdInfo" nillable="true" type="tns:ArrayOfIdInfo" />
  <xs:complexType name="IdInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdLpu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPatient" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdInfo" nillable="true" type="tns:IdInfo" />
  <xs:complexType name="SearchCtoPARequestsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FerIdSpeciality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDoctor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLpu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSpeciality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntervalEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntervalStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientBirthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientMiddleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCtoPARequestsRequest" nillable="true" type="tns:SearchCtoPARequestsRequest" />
</xs:schema>