ConsoleApp1/Connected Services/ServiceReference1/MqService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MQ.Dto.Mpi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MQ.Dto.Mpi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.179/MQService/MqService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMpiIds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MpiIds" nillable="true" type="tns:MpiIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMpiIds" nillable="true" type="tns:ArrayOfMpiIds" />
  <xs:complexType name="MpiIds">
    <xs:sequence>
      <xs:element minOccurs="0" name="MpiId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Referrals" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MpiIds" nillable="true" type="tns:MpiIds" />
</xs:schema>