ConsoleApp1/Connected Services/ServiceReference1/MqService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.179/MQService/MqService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" />
  <xs:complexType name="RegisterPARequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPARequestResult" nillable="true" type="tns:RegisterPARequestResult" />
  <xs:complexType name="CancelPARequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdPar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelPARequestResult" nillable="true" type="tns:CancelPARequestResult" />
  <xs:complexType name="SearchActivePARequestsResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="ActivePARequests" nillable="true" type="q1:ArrayOfActivePARequestInfo" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchActivePARequestsResult" nillable="true" type="tns:SearchActivePARequestsResult" />
  <xs:complexType name="SearchPARequestsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MQ.Dto.PostAppointment" minOccurs="0" name="PARequests" nillable="true" type="q2:ArrayOfSearchPARequestInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPARequestsResult" nillable="true" type="tns:SearchPARequestsResult" />
  <xs:complexType name="SearchCtoPARequestsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SearchPARequestsResult">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchCtoPARequestsResult" nillable="true" type="tns:SearchCtoPARequestsResult" />
</xs:schema>